@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{box-sizing: border-box; font-family: 'Poppins', sans-serif; color: #999; font-weight: normal;}
html, body{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6, p{margin: 0;}
ul, ol{margin: 0; padding: 0; list-style: none;}
a{text-decoration: none;}

body {width: 100%; height: 100vh; background: linear-gradient(45deg, #d1c6f3, #e9bcac);}

header{height: 70px;}
header .wrap{width: 1200px; height: 100%; margin: 0 auto; padding: 10px; display: flex; justify-content: space-between; align-items: center;}
header .logo a {color: white; font-size: 30px; font-weight: 200;}


header .wrap nav ul{display: flex; flex-wrap: wrap;}
header .wrap nav ul li{margin: 0 15px;}
header .wrap nav ul li:last-child{margin-right: 0;}
header .wrap nav ul li a i {display: block; color:white; font-size: 18px; font-weight: bold;}


#detail{padding-top: 60px;}
#detail .wrap{width: 900px; margin: 0 auto; display: flex; flex-wrap:wrap; background-color: white; border-radius: 10px; box-shadow: 0 0 20px rgba(126, 126, 126, 0.4);padding-top: 40px;}

#detail .wrap .left_part{width: calc(40% - 60px); margin: 0 30px; margin-top: 8px;}
#detail .wrap .left_part .pd_img{margin-bottom: 40px; width: auto; height: 360px; background-color: #ddd; position: relative; overflow: hidden; }
#detail .wrap .left_part .pd_img img{position: absolute; top: 50%; left:50%; transform: translate(-50%, -50%); display: block; object-fit: fill; width: 100%; }

#detail .wrap .left_part .thumb_img{padding-bottom: 40px;}
#detail .wrap .left_part .thumb_img ul{display: flex; flex-wrap: wrap; justify-content: center;}

#detail .wrap .left_part .thumb_img ul li{width: 80px; height: 80px; margin: 0 10px; background-color: #ddd; background-size: cover; background-position: 50% 50%; cursor: pointer; }
#detail .wrap .left_part .thumb_img ul li.active{box-shadow: 0 0 8px rgba(53, 53, 53, 0.4); transform: translateY(-6px)}

#detail .wrap .right_part{width: calc(60% - 60px); margin: 0 30px; /*background-color: #fea;*/}

#detail .wrap .right_part .top span{display: inline-block; font-size: 12px;}

#detail .wrap .right_part .main{padding-top: 20px;}

#detail .wrap .right_part .main .title{font-size: 24px; color:#444; font-weight: 500;}

#detail .wrap .right_part .main .origin_price{padding-top: 6px; font-size: 20px; color:#444; text-align: right; font-weight: 400;  height: 55px; line-height: 55px;}
#detail .wrap .right_part .main .origin_price span{font-size: 24px; color: #444; }

#detail .wrap .right_part .option{padding: 20px 0;}
#detail .wrap .right_part .option #opt{width: 100%; height: 40px; border: 1px solid #ccc; border-radius:4px; -webkit-appearance: none; appearance: none; padding: 0 10px; background-image: url(../img/select_arrow.svg); background-repeat: no-repeat; background-size: auto 16px; background-position: 98% 50%; }

#detail .wrap .right_part .buy_num{border-top: 1px dotted #ccc; padding: 20px 0; display: flex; justify-content: space-between; align-items: center;}

#detail .wrap .right_part .buy_num p{font-size: 16px; }

#detail .wrap .right_part .buy_num .control_num{display: flex; flex-wrap: wrap; align-items: center; }
#detail .wrap .right_part .buy_num .control_num a{display: block; width: 36px; height: 36px; border: 1px solid #ccc; font-size: 20px; line-height: 34px; text-align: center; color:#777;}

#detail .wrap .right_part .buy_num .control_num input{width: 80px; height: 36px; border: none; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;  outline: none; text-align: center; padding-left: 13px;}


#detail .wrap .right_part .total{border-top: 2px solid #999; display: flex; justify-content: space-between; align-items: flex-end; padding: 25px 0;margin-top: 10px;;}
#detail .wrap .right_part .total h4{font-size: 20px; color: #444; font-weight: 400;}
#detail .wrap .right_part .total .total_price{font-size: 26px; color:#444; font-weight: 400;}
#detail .wrap .right_part .total .total_price span{font-size: 36px;color: #444; font-weight: 400;padding-left: 10px;} 

#detail .wrap .right_part .detail_btn{padding: 40px 0;}
#detail .wrap .right_part .detail_btn ul{display: flex;}
#detail .wrap .right_part .detail_btn ul li{margin: 0 5px; width: calc(50% - 10px);}
#detail .wrap .right_part .detail_btn ul li a{display: block; line-height: 50px; text-align: center; color:#fff; font-weight: bold; font-size: 18px; border-radius: 10px;font-weight: 500;}

#detail .wrap .right_part .detail_btn ul li:first-child a{background: #e9bcac;}
#detail .wrap .right_part .detail_btn ul li:first-child a:hover{background-color: #daa18c;}
#detail .wrap .right_part .detail_btn ul li:last-child a{background-color: #ccc;}
#detail .wrap .right_part .detail_btn ul li:last-child a:hover{background-color: #999;}

.dark{position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.6); z-index: -1; opacity: 0;}
.dark.active{z-index: 2; opacity: 1; transition: opacity 0.5s;}

.mycart{position: fixed; width: 400px; height: 100%; top: 0; right: -415px; background-color: #fff; box-shadow: -1px 0 10px rgba(80, 80, 80, 0.5); z-index: 2;}

.mycart.active{right:0; transition:right 0.5s;}

.mycart .mycart_frame{width: 100%;height: 100%; position: relative; padding: 0 15px;}

.mycart .mycart_frame h3{line-height: 70px; border-bottom: 1px solid #ccc; color:#777; display: flex; justify-content: space-between; align-items: center; }
.mycart .mycart_frame h3 i {margin-right: 10px; ;}
.mycart .mycart_frame h3 span{display: block; }
.mycart .mycart_frame h3 span.cart_close{cursor: pointer;}
.mycart .mycart_frame .cart_list{padding-top: 20px;}
.mycart .mycart_frame .cart_list li{border-bottom: 1px solid #ccc; padding-bottom: 20px;}
.mycart .mycart_frame .cart_list li .top_list{display: flex; align-items: center;}
.mycart .mycart_frame .cart_list li .top_list .cart_img{width: 40%;}
.mycart .mycart_frame .cart_list li .top_list .cart_img img{width: 100%;}

.mycart .mycart_frame .cart_list li .top_list .cart_info{width: 60%; padding-left: 20px;}
.mycart .mycart_frame .cart_list li .top_list .cart_info h4{font-size: 16px; color:#444; padding-bottom: 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.mycart .mycart_frame .cart_list li .top_list .cart_info p{font-size: 16px; color:#444;  text-align: right; padding-top: 10px;;}
.mycart .mycart_frame .cart_list li .top_list .cart_info p span {color: #444;}

.mycart .mycart_frame .cart_list li .bottom_list{padding-top: 10px;}
.mycart .mycart_frame .cart_list li .bottom_list p{font-size: 14px; color:#444;}
.mycart .mycart_frame .cart_list li .bottom_list p span{font-weight: 400;}

.mycart .mycart_frame .cart_btn{position: absolute; bottom: 0; left: 0; width: 100%; padding: 10px; border-top: 1px solid #ccc; display: flex; padding-top: 10px;}
.mycart .mycart_frame .cart_btn li{width: calc(50% - 10px); margin: 0 5px;}
.mycart .mycart_frame .cart_btn li input{width: 100%; line-height: 40px; display: block; border: none; background-color: #e9bcac; color:#fff; cursor: pointer; font-size: 18px;  padding: 0; border-radius: 10px;}

.mycart .mycart_frame .cart_btn li input:hover{background-color: #daa18c;}

.mycart .mycart_frame .cart_btn li:last-child input{background-color: #ccc;}

.mycart .mycart_frame .cart_btn li:last-child input:hover{background-color: #999;}
